.App {
  text-align: center;
}

:root {
  --primary: #5e60ce;;
  --secondary: #95B8D1;
  --tertiary: #02C3BD;
  --quaternary: #D6EADF;
  
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 550;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: .1em;
  color:#5e60ce;
  font-family: sans-serif, 'Helvetica Neue';

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  margin: 5px 10px;
  line-height: 1.50;
  text-align: center;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
  margin-top: 0;
  margin: 5px 10px;
}

a {
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

a {
	border-radius: 5px;
	color: var(--primary);
	font-weight: 600;
	padding: 2px 4px;
	margin-left: -2px;
	margin-right: -2px;
	
}

.col-6 {
  max-width: 100%;
}

.profilepic {
  margin: auto 100px;
  border-radius: 50%;

} 

.footer {
  padding: 50px;;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
}

.card-container {
  
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;  
}

.card {
  width: 55%;
  text-align: center;
  padding: 20px;
  margin: 20px;
  /* border-radius: 10%; */
}

.contact-container {
  border-bottom: 1px solid;
}

.wrapper {
  width: 100%;
  /* display: flex; */
  align-items: center;
  padding: 10px;
  margin: 10px;
  flex-direction: column;

}

.nav {
  padding: 10px;
  flex-direction: row;
  justify-content: flex-end;
}

.navActive {
  color: var(--primary);

}

.active {
  color: var(--tertiary);
}

.nav:hover {
  color: var(--secondary);
  font-size:35px;
  background-color: var(--tertiary);
  /* border-radius: 10%; */
  padding: 10px;
  opacity: .8;

}



.ip-desc {
  
  padding: 10px;
  margin: 1% 21%;
  flex-direction: column;
  justify-content: flex-start;
  border-left: 0.5px solid;


}

.ip-picture {
  padding: 10px;
  margin: 1% 30%;
  flex-direction: column;
  justify-content: flex-start;
  width: 40%;
  border-radius: 15%;
  box-shadow: 25px 25px 50px 0 white inset, -25px -25px 50px 0 white inset;
}

.resume-list {
  border-bottom: 1px solid;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
